nav{
    font-family: 'Acme', sans-serif;
    font-size: 48px;
}

#side-nav-list button{
    font-family: 'Acme', sans-serif;
    font-size: 20px;
}

#google-prompt{
    font-family: 'Concert One', cursive;

}

#authorize-button{
    margin-bottom: 10px;
}

#logo-icon{
    margin-top: 4px;
    font-size: 40px;
    height: 40px;
    width: 70px;
    padding-top: 0px;
    padding-left: 15px;
    padding-bottom: 50px;
    border-radius: 12px;
}

#signout-button{
    font-size: 15px;
    margin-bottom: 25px;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    padding-bottom: 35px;
}

#logo-text{
    font-size: 35px;
}

#content, #authorize-button, #signout-button{
    display: none;
    font-family: 'Patua One', cursive;
}

#authorize-button-sidenav,#signout-button-sidenav{
    padding: 4px 111px;
    padding-bottom: 42px;
} 

#logo-text-nav{
    font-family: 'Acme', sans-serif;
    font-size: 60px;
    padding-bottom: 70px;
}

#logo-icon-nav{
    font-size: 100px;
    height: 103px;
    width: 240px;
    margin: 10px 30px;
    padding-left: 75px;
    border-radius: 20px;
}

